<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Gantt Features</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item px 1">
            <NavLink class="nav-link" href="Hierarchydata">
                Hierarchydata Binding
            </NavLink>
        </li>
        <li class="nav-item px 1">
            <NavLink class="nav-link" href="SelfReference">
                 SelfReference Binding
            </NavLink>
        </li>
         <li class="nav-item px 1">
            <NavLink class="nav-link" href="DynamicObject">
                 DynamicObject Data Binding
            </NavLink>
        </li>
         <li class="nav-item px 1">
            <NavLink class="nav-link" href="expanddatao">
                 ExpandIodata Binding
            </NavLink>
        </li>
         <li class="nav-item px 1">
            <NavLink class="nav-link" href="HierarchydataWorkResource">
                 Hierarchy data Work Resource
            </NavLink>
        </li>
         <li class="nav-item px 1">
            <NavLink class="nav-link" href="SelfReferenceWork">
                 SelfReference Work Resource
            </NavLink>
        </li>
        <li class="nav-item px 1">
            <NavLink class="nav-link" href="HierarchydataTaskmode">
                 Hierarchial Taskmode
            </NavLink>
        </li>
        <li class="nav-item px 1">
            <NavLink class="nav-link" href="SelfReferenceTaskmode">
                 SelfReferenceTaskmode
            </NavLink>
        </li>
        <li class="nav-item px 1">
            <NavLink class="nav-link" href="Virtulaization">
                 Virtulaization
            </NavLink>
        </li>
        <li class="nav-item px 1">
            <NavLink class="nav-link" href="Selection">
                 Selection
            </NavLink>
        </li>
         <li class="nav-item px 1">
            <NavLink class="nav-link" href="Template">
                 Custom Sample
            </NavLink>
        </li>
       
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
